{% extends 'admin_portal/base_admin_tamplate.html' %}

{% block content %}
<a href="{% url 'add_feature' %}">Add New Feature  </a>  |  <a href="{% url 'import_feature' %}">Import Features  </a> |  <a href="{% url 'assign_feature' %}">Assign Features to Role  </a>

     <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">System Feature Name</th>
      <th scope="col">Role Name</th>
      <th scope="col">Permission Type</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% if assignfeatures != '' %}
      {% for assignfeature in assignfeatures  %}
    <tr>
      <th scope="row">{{ assignfeature.id }}</th>
      <td>{{ assignfeature.featurename }}</td>
      <td>{{ assignfeature.rolename }}</td>
      <td>{{ assignfeature.permissiontype }}</td>
    <td><a href="{% url "delete_assignfeatures" assignfeature.id %}">delete</a></td>

    </tr>
      {% endfor %}
   {% endif %}
  </tbody>
</table>



{% endblock %}