{% extends 'base_tamplate.html' %}

{% block content %}

	<!-- Intro -->

	<div class="intro" style="padding-top: 120px;padding-bottom: 20px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 order-lg-1 order-2">
					<h2 class="intro_title">The Estate Promise</h2>
					<div class="intro_subtitle">Sed vestibulum lectus ut leo molestie, id suscipit magna</div>
					<p id="intro_text">
                        Finding the right website for your real estate needs can be overwhelming. Whether you're looking for your next home or selling a property, there are dozens of real estate websites that can get the job done. Instead of having to filter through the results, we break it down for you -- we've compiled a list of the most popular real estate sites based on the total number of page listings on Google, with every website having more than 1 million indexed pages.We split the list in two categories: search engines and agency-specific sites. Real estate search engines display properties put up for sale and rental by owners and brokers, often also including various tools and resources to help potential buyers make informed decisions. Agency-specific websites host a database of real estate listings and connect users with the company's own realtors or partner agents.

                    </p>
				</div>
				<div class="col-lg-5 order-lg-2 order-1">
					<div class="intro_image">
						<img src="/static/images/intro.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>


 {% endblock %}