{% extends 'base_tamplate.html' %}

{% block content %}

	<!-- Contact -->

	<div class="contact" style="padding-top: 150px">
		<div class="container">
			<div class="row">

            <div class="col-lg-12 footer_col center">
					<div class="footer_col_title" style="color: #D1D1D2">contact info</div>
					<ul class="contact_info_list">
						<li class="contact_info_item d-flex flex-row">
							<div><div class="contact_info_icon"><img src="/static/images/placeholder.svg" alt=""></div></div>
							<div class="contact_info_text">1382 University Ave</div>
						</li>
						<li class="contact_info_item d-flex flex-row">
							<div><div class="contact_info_icon"><img src="/static/images/phone-call.svg" alt=""></div></div>
							<div class="contact_info_text">999-999-9999</div>
						</li>
						<li class="contact_info_item d-flex flex-row">
							<div><div class="contact_info_icon"><img src="/static/images/message.svg" alt=""></div></div>
							<div class="contact_info_text"><a href="mailto:contactme@gmail.com?Subject=Hello" target="_top">contactme@gmail.com</a></div>
						</li>
						<li class="contact_info_item d-flex flex-row">
							<div><div class="contact_info_icon"><img src="/static/images/planet-earth.svg" alt=""></div></div>
							<div class="contact_info_text"><a href="https://google.com">www.google.com</a></div>
						</li>
					</ul>
				</div>
			</div>

		</div>

	</div>


	{% endblock %}